html{
    background-color: #78d3df;
}
img{
    position: absolute;
    left: 20px;
    top: 20px;
}
h1{
    size: 200px;
    color: #0274b3;
    font-family: 'Arial';
    font-weight: 700;
    position: absolute;
    left: 180px;
    top: 5px;
}
h2{
    position: absolute;
    left: 180px;
    top: 115px;
}
span{
    position: absolute;
    left: 180px;
    top: 160px;
}